.main {
  margin: 10px 10px 0;
  padding: 0 0 10px;
  background-color: #fff;
  border-radius: 5px;
}

.main__header {
  margin: 0;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  border-bottom: 2px solid #f4f4f4;
  border-radius: 5px 5px 0 0;
}

.main__header-info {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
}

.main__header-logo {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  background: #fab72d no-repeat center url("../../images/page.svg");
}

.main__info {
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  list-style: none;
}

.main__info-item {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}

.main__aglomachine-list {
  margin: 0;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  list-style: none;
  justify-content: space-between;
}
